body {
  margin: 0px;
}
.header {
  background-color: rgb(34, 33, 33);
}
.header > div {
  color: rgb(241, 60, 60);
  font-size: 30px;
  padding: 6px;
}
.file_control {
  background-color:rgb(107, 117, 113);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.upload {
  background-color: rgb(202, 202, 218);
  text-align: center;
  padding: 15px 20px 15px 20px;
  margin-right: 100px;
}
.myfile {
  background-color: rgb(202, 202, 218);
  text-align: center;
  padding: 15px 20px 15px 20px;
}
.category_all {
  background-color:rgb(190, 190, 190);
  display: flex;
  padding: 50px;
  padding-bottom: 800px;
  justify-content: space-between;
}
.japanese_ca, .math_ca, .english_ca, .science_ca, .society_ca {
  background-color: rgb(231, 231, 231);
  padding: 80px 100px;
  font-size: 36px;
  border: 2px solid rgb(255, 58, 58);
  border-radius: 18px;
}
